{% extends 'base/index.html'%}
{% load static %}

{% block title %}
    homes
{% endblock title %}

{% block content %}
		
		<h1> home </h1>
		<div class="container" >
			<div class="row">
				<div class="col-md-offset-4"></div>
				<div class="col-md-4"></div>
				<nav>
					{% if user.is_authenticated %}
						<a href="{% url 'logout' %}">logout</a>
					{% else %}
						<a href="{% url 'login' %}">login</a>
						<a href="{% url 'register' %}">inscription</a>	
					{% endif %}
				</nav>
				<div class="col-md-4"></div>				
			</div>
		</div>


		
	
{% endblock %}