

*{
  margin: 0px;
  padding: 0px;
}

body{
 
  font-family: Times New Roman;
  background-attachment: fixed;
  background-size: cover;
}

h1{
  font-size: 50px;
  color: white;
  margin-top: 30px;
  margin-bottom: 60px;
}

.col-md-5{
  background: rgba(0,0,0,0.5);
  margin: 40px;
}

.label{
  font-size: 20px;
  font-weight: normal;
}

.input-group{
  margin-top: 5px;
  margin-bottom: 20px;
}

.input-group-text{
  background: transparent;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid gray;
  font-size: 18px;
  color: grey;  

}
.navbar{
  background-color: rgb(147, 164, 174);
}

