{% extends 'base/index.html'%}


{% block side_bar %}	
	{% include  "base/side_bar.html" %}
{% endblock side_bar %}


	{% block navbar %}		
		{% include  "base/nav_bar.html" %}
	{% endblock navbar %}

		{% block content %}
			
				<div class="container-fluid">
				        <h1 class="mt-4">Description du projet</h1>
				        <p>Description du projetDescription du projetDescription du projetDescription du projetDescription du projetDescription du projetDescription du projetDescription du projetDescription du projetDescription du projetDescription du projetDescription du projetDescription du projet</p>
				        <p>Description du projetDescription du projetDescription du projet <code>#page-content-wrapper</code>. Description du projetDescription du projetDescription du projetDescription du projet<code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
				      </div>

		{% endblock %}

